* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

  .row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCK ONE */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* horizontal align */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCK STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCK WHY */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* RESPONSIVE */

/* Mobile 420px */

@media screen and (max-width: 420px) {

  .row {
    width: 100%;
    margin-top: 0px;
  }

  #lezioni .row>.left, #lezioni .row>.right, #steps .row>.left, #steps .row>.right, #steps .row>.central {
    width: 100%;
    padding:10px;
    margin-bottom:65px;
  }

  img {
    width: 50%;
    height: 50%;
    padding:5px;
  }

  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 10px;
  }

  #lezioni, #steps, #why {
    padding:10px;
    margin-bottom:15px;
  }

  #why .row>.first hr, #why .row>.second hr {
    margin-top:25px;
  }

  #why .row>.first, #why .row>.second, #why .row>.third {
    width: 100%;
    margin-top: 25px;
    padding: 20px;
  }

}

/* Media MOBILE */

@media screen and (max-width: 419px) {

  *{
    margin: 0;
    padding: 0;

  /* Column Typography */
  h3 {
    margin: 20px 0;
  }
  /* BLOCCO LEZIONI */
  #lezioni .row .left,
  #lezioni .row .right {
    padding: 0 30px;
  }
  /* BLOCCO STEPS */
  #steps .row .left,
  #steps .row .central,
  #steps .row .right{
    padding: 0 30px;
  }
  /* BLOCCO PERCHE */
  #why .row .first,
  #why .row .second,
  #why .row .third{
    padding: 0 30px;
  }
  #why .row .third{
    margin-bottom: 30px;
  }

  hr {
    margin-top: 30px;
  }
}
